TRAEFIK_CERTIFICATESRESOLVERS_LETSENCRYPT_ACME_EMAIL=${CA_EMAIL}

# only use the staging server for testing
STAGING_CA_SERVER=https://acme-staging-v02.api.letsencrypt.org/directory
PROD_CA_SERVER=https://acme-v02.api.letsencrypt.org/directory
TRAEFIK_CERTIFICATESRESOLVERS_LETSENCRYPT_ACME_CA_SERVER=${PROD_CA_SERVER}

# custom domain name
DOMAIN_NAME=${DOMAIN_NAME}

# digitalocean API token
DO_AUTH_TOKEN=
