PAPERLESS_SECRET_KEY=
PAPERLESS_OCR_LANGUAGE=eng

# default 0, set to 1 on pi
PAPERLESS_OCR_PAGES=1

# default 2, set to 1 on pi
PAPERLESS_WEBSERVER_WORKERS=1

# refer to docs
PAPERLESS_TASKS_WORKERS=2
PAPERLESS_THREADS_PER_WORKER=1

PAPERLESS_ADMIN_USER=
PAPERLESS_ADMIN_PASSWORD=
PAPERLESS_ADMIN_MAIL=
