PHOTOPRISM_ADMIN_PASSWORD=

PHOTOPRISM_SITE_URL=
PHOTOPRISM_SITE_TITLE="Photoprism"
PHOTOPRISM_SITE_CAPTION=
PHOTOPRISM_SITE_DESCRIPTION=
PHOTOPRISM_SITE_AUTHOR=
PHOTOPRISM_LOG_LEVEL=info

PHOTOPRISM_WORKERS=2

PHOTOPRISM_DISABLE_TENSORFLOW=false
PHOTOPRISM_DISABLE_FACES=false
PHOTOPRISM_DISABLE_CLASSIFICATION=false

PHOTOPRISM_DATABASE_DRIVER=mysql
PHOTOPRISM_DATABASE_SERVER=photoprismdb:3306
PHOTOPRISM_DATABASE_NAME=photoprism
PHOTOPRISM_DATABASE_USER=photoprism
PHOTOPRISM_DATABASE_PASSWORD=
